.theme{
    position: relative;
    justify-content: center;
    text-align: left;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    line-height: 1.5rem;
    z-index: 1;
}
.theme h1{
    opacity: 0.5;
    font-weight: 900;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.theme p{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 2rem;
}

 .theme h1:hover {
    transition: transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear;
    transition-delay: calc( 20ms * var(--char-index) );
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: translateY(-0.25em);
    
  }
  

.register-button{
    /* position: relative;
    margin-left: 34%;
    justify-content: center;*/
    padding-bottom: 3rem; 
    margin-bottom: 3px;
}
.btn-5{
    border-radius: 0%;
}
.btn-primary{
    background-color: none;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    border: 0px solid;
    border-color: none;
    
}
.btn-5:hover{
    background-image: linear-gradient(to right, #622fc0, #2baa84);
}
@media screen and (max-width:480px) {
    .theme{
        margin-top: 0%;
    }
    .theme h1{
        font-size: 2rem;
    }
}